@use "variables.scss" as *;

header {
    background-color: $body-bg;

    .show-menu {
        width: 24px;
        height: 24px;
        margin: 10px;
        cursor: pointer;
    }
}

@media (min-width: 540px) {
    .show-menu {
        display: none;
    }
}