@use 'variables' as *;

section {
    display: flex;
    gap: 12px;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $darked;
        padding: 8px;
        border-radius: 30px;
        border: 1px solid $dark-hover;

        img {
            width: 22px;
        }
    }
}