<section>
    <a href="https://wa.me/5511985333356" target="_blank">
        <div>
            <img src="img/svg/whatsapp.svg" alt="">
        </div>
    </a>
    <a href="https://www.instagram.com/ronaldronan/" target="_blank">
        <div>
            <img src="img/svg/instagram.svg" alt="">
        </div>
    </a>
    <a href="https://www.linkedin.com/in/ronald-ronan-7b121b225/" target="_blank">
        <div>
            <img src="img/svg/linkedin.svg" alt="">
        </div>
    </a>
</section>