@use 'variables' as *;

main {
    padding: 10px;

    .section-title-message {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .section-message {
        border-radius: 6px;
        background-color: $body-bg;

        .message-row {
            display: flex;
            border-top: 2px solid #70707075;
            cursor: pointer;

            &:hover {
                background-color: rgba(255, 255, 255, 0.1);
            }

            &:last-child {
                border-bottom: 2px solid #70707075;
            }

            .message {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                overflow: hidden;
                text-overflow: ellipsis;
                word-break: break-word;
                padding: 10px 0 10px 10px;
                width: 90%;

                h3 {
                    max-width: 90%;
                    margin-bottom: 6px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            .message-options {
                padding: 10px 10px 10px 0;

                span {
                    white-space: nowrap;
                }

                img {
                    width: 18px;
                }
            }
        }
    }
}

@media (min-width: 540px){
    .section-title-message {
        select {
            width: 200px;
        }
    }
}