<app-header>
    <app-navigation-layout navigation />
</app-header>
<main>
    <section class="section-title-message">
        <h1>Mensagem</h1>
        <select name="" id="" >
            <option value="">Não lidas</option>
            <option value="">Favoritas</option>
            <option value="">Lidas</option>
        </select>
    </section>
    <section class="section-message">
        <div class="message-row">
            <div class="message">
                <h3>Ronald Ronan Galeno Brito</h3>
                <p>Mensagem teste, Mensagem teste,Mensagem teste, Mensagem teste,Mensagem teste</p>
            </div>
            <div class="message-options">
                <span>21 de abr</span>
            </div>
        </div>
        <div class="message-row">
            <div class="message">
                <h3>Ronald Ronan Galeno Brito</h3>
                <p>Mensagem teste, Mensagem teste,Mensagem teste, Mensagem teste,Mensagem teste</p>
            </div>
            <div class="message-options">
                <span>21 de abr</span>
            </div>
        </div>
        <div class="message-row">
            <div class="message">
                <h3>Ronald Ronan Galeno Brito</h3>
                <p>Mensagem teste, Mensagem teste,Mensagem teste, Mensagem teste,Mensagem teste</p>
            </div>
            <div class="message-options">
                <span>21 de abr</span>
            </div>
        </div>
    </section>
</main>