@use 'variables' as *;

main {
    position: relative;
    width: 100%;
    margin: 0 auto;
    background-color: $body-bg;
    padding: 0 20px;
}

@media (min-width: 1140px) {
    main {
        width: 70%;
        padding: 30px 60px;
    }
}