<section id="about-me">
    <h2 class="title-page">Sobre mim</h2>
    <section class="section-about-me">
        <div class="about-me-personal-photo">
            <div>
                <img src="img/personal-photo2.png" alt="">
            </div>
        </div>
        <div>
            <section>
                <p>
                    Comecei na programação meio por acaso, automatizando planilhas no Excel com VBA, e foi aí que descobri como criar coisas com código podia ser incrível. Logo depois, conheci o C#, e foi amor à primeira vista. Desde então, segui explorando outras linguagens como Java, JavaScript e Python, mas sempre mantendo o C# como meu foco principal.
                </p><br>
                <p>
                    Com o tempo, fui aprendendo a usar vários frameworks, como Node.js, ASP.NET Core, Entity Framework, Spring Boot, React, Razor, Flask e Django, e isso me ajudou a melhorar minhas habilidades. Também trabalhei com diferentes bancos de dados, como MySQL, SQL Server, MariaDB, SQLite, MongoDB e PostgreSQL, usando cada um deles em projetos diferentes.
                </p>
                <br>
                <p>
                    Atualmente, sou desenvolvedor .NET Junior, com mais de dois anos de experiência. Estou estudando Análise e Desenvolvimento de Sistemas, com previsão de conclusão em dezembro de 2025, e meu grande objetivo é fazer um mestrado em Engenharia de Software. Gosto de aprender coisas novas e estou sempre buscando melhorar no que faço.
                </p>
            </section>
            <a href="pdf/profile.pdf" target="_blank">
                <app-button-orange text="Download CV" />
            </a>
        </div>
    </section>
    <section class="section-skills">
        <app-skill-card [percent]="10" title="Figma" />
        <app-skill-card [percent]="20" title="Figma" />
        <app-skill-card [percent]="30" title="Figma" />
        <app-skill-card [percent]="40" title="Figma" />
        <app-skill-card [percent]="50" title="Figma" />
        <app-skill-card [percent]="60" title="Figma" />
        <app-skill-card [percent]="70" title="Figma" />
    </section>
</section>