@use 'variables' as *;

section {
    padding-bottom: 60px;

    form {
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        div {
            display: flex;
            flex-direction: column;
        }

        input,
        select,
        textarea {
            padding: 10px 16px;
            border-radius: 10px;
            border: 0;
            background-color: $darked;
            margin-bottom: 10px;
        }
    }

    div {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 540px) {
    section {
        position: relative;
        margin: 60px auto 0 auto;
        width: 80%;

        form {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 0 30px;
            align-items: start;

            div {
                width: 100%;
            }
        }

        div {
            justify-content: end;
        }
    }
}