<section>
    <section class="home-section-presentation">
        <div class="home-presentation-name">
            <h3>Ronald Ronan Galeno Brito</h3>
        </div>
        <h1>Desenvolvedor<br />Full Stack</h1>
        <app-social-networks-layout />
        <a href="pdf/profile.pdf" target="_blank">
            <app-button-transparent text="Download CV" />
        </a>
        <div class="home-made">
            <div>
                <h3>3+</h3>
                <span>Experiences</span>
            </div>
            <div class="separate"></div>
            <div>
                <h3>20+</h3>
                <span>Project done</span>
            </div>
        </div>
    </section>
    <section class="home-section-img">
        <div>
            <img src="img/personal-photo1.png" alt="" class="foto-recortada">
        </div>
    </section>
</section>