<section id="contact-me">
    <h2 class="title-page">Entrar em contato</h2>
    <form>
        <div>
            <input type="text" placeholder="Nome">
            <input type="email" placeholder="E-mail">
        </div>
        <div>
            <input type="tel" placeholder="Whatsapp">
            <select>
                <option value="">Selecione o serviço de interesse</option>
                <option value="Frontend">Frontend</option>
                <option value="Backend">Backend</option>
                <option value="Fullstack">Fullstack</option>
            </select>
        </div>
        <div>
            <textarea name="" id="" rows="10" placeholder="Detalhes do projeto"></textarea>
            <app-button-transparent text="Enviar" />
        </div>
    </form>
</section>